:root {
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #efefef;
  --c-text: #2c3e50;
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
}

html.dark {
  --c-bg: #22272e;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --c-text: #efefef;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;
}

// colors
$accentColor = lighten(#024959, 25%);

$textColor = #2c3e50;
$darkTextColor = #000
$borderColor = #eaecef
$darkBorderColor = $darkTextColor
$codeBgColor = $darkTextColor

$bgColor = var(--c-bg);
$headerBgColor = var(--c-bg);

$footerBgColor = $darkTextColor
$footerColor = #afafaf
$newsletterBgColor = #f8f8f8

// layout
$contentWidth = 900px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

$nprogressColor = $accentColor